[Desktop Entry]
Encoding=UTF-8
Name=Link para Pesquisa Operacional
Type=Link
URL=https://classroom.google.com/u/0/c/MjA3NzM5MzkxODU4
Icon=text-html
Name[pt_BR]=PO
