[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - 1ldomal2/Trabalho-SistemasOperacionais
Type=Link
URL=https://github.com/1ldomal2/Trabalho-SistemasOperacionais
Icon=text-html
Name[en_US]=github
